 @font-face {
     font-family: 'MyFontHDZB';
     src:  url('./hb.ttf');
     font-weight: 600;
     font-style: normal;
   }

.hello {
    color: red;
    font-family: 'MyFontHDZB';
    background: url('./pig.png') no-repeat;
  }